{{ define "main" }}
  <div class="terminal-nav top-nav">
    {{ partial "nav.html" . }}
  </div>
  {{ .Content }}
  {{ $posts := where .Site.Pages.ByDate.Reverse "Type" "post" }}
  {{ $posts = where $posts "Params.categories" "intersect" (slice "Blog") }}
  {{ with $posts }}
  <h2 class="manual-number home-posts-title">Blog</h2>
  <div class="time-list">
    <ul>
      {{ range . }}
      <li>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        <div><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></div>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
{{ end }}
